@charset "UTF-8";
/* -----------------Css general----------------- */
body {
  background-image: url(../assets/imagenes/Fondo.jpg);
  background-position: 10%, 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
body h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}
body h2 {
  color: black;
  text-align: lef;
  font-weight: bold;
}
body h3 {
  color: black;
  text-align: lef;
  font-weight: bold;
}
body h4 {
  color: black;
  text-align: lef;
  font-weight: bold;
}
body h5 {
  color: black;
  text-align: lef;
  font-weight: bold;
}
body p {
  color: #343a40;
  font-size: 1rem;
  font-weight: bold;
}
body .card {
  background-color: lightgrey;
  padding: 1.5%;
}
body .noticias {
  margin-left: 180px;
}

/* -----------------Videos----------------- */
.row {
  display: flex;
}

.column {
  flex: 1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* Proporción del video (16:9) */
  padding-top: 30px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -----------------galería----------------- */
.contenedor { /*para centrar la galeria de imagenes*/
  text-align: center;
}

/* -----------------Navbar----------------- */
.navbar-title {
  flex-grow: 1;
  text-align: center;
  color: #e2a75b;
  font-size: 1.5rem;
}

.subMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.subMenu a {
  color: #000000;
}
.subMenu a:hover {
  color: rgb(114, 108, 108);
}

/* -----------------footer----------------- */
a {
  text-decoration: none;
  font-size: 16px;
}

p {
  font-size: 16px;
}

a:hover {
  color: #0d6efd !important;
}

i {
  font-size: 25px;
}

/* -----------------formularios----------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 110rem;
  height: 100%;
  margin: auto;
  gap: 1rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .grid {
    gap: 0.5rem;
  }
}
/* Textos */
.textosContacto {
  grid-column: 1/13;
  text-align: center;
  color: black;
}

.textosContacto h2 {
  color: black;
  font-weight: 600;
  width: 95%;
  text-shadow: 2px 2px 2px rgba(94, 94, 95, 0.487);
}

.correoContacto {
  display: flex;
  justify-content: left;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .textosContacto {
    grid-column: 2/7;
    text-align: left;
  }
}
/* Formulario */
.formulario {
  grid-column: 1/13;
  background-color: var(--primarioº);
  width: min(60rem, 100%);
  margin: 0 auto;
  margin-bottom: 3rem;
}

.campo label {
  display: block;
  color: black;
  font-weight: bold;
  margin: 1.5rem 0 0.5rem 0;
  width: 100%;
  font-weight: 500;
}

.campo input {
  border-radius: 0.5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 3rem;
  width: 100%;
  padding: 2%;
}

.campo textarea {
  border-radius: 0.5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 8rem;
  width: 100%;
  padding: 2%;
}

@media only screen and (min-width: 1200px) {
  .cuentas {
    height: 50rem;
  }
  .formulario {
    grid-column: 7/12;
  }
  .formularioIzquierda {
    grid-column: 2/7;
  }
}
@media only screen and (min-width: 1200px) {
  .botonFormulario {
    text-align: left;
    margin-left: 1.5rem;
  }
}
.botonFormulario input {
  padding: auto 2rem;
}

/* -----------------Productos----------------- */
.card:hover {
  background-color: #0466f9;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(7, 3, 37, 0.634);
  filter: brightness(1.2);
}
.card:hover .card-text {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
