/* -----------------footer----------------- */

a {
    text-decoration: none;
    font-size: 16px;
}

p {
    font-size: 16px;
}

a:hover {
    color: #0d6efd !important
}

i {
    font-size: 25px;
}