

body {
    background-image: url(../assets/imagenes/Fondo.jpg);
    background-position: 10%, 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;

        h1 {
            color: black;
            text-align: center;
            font-weight: bold;
        }

        h2 {
            color: black;
            text-align: lef;
            font-weight: bold;
        }

        h3 {
            color: black;
            text-align: lef;
            font-weight: bold;
        }

        h4 {
            color: black;
            text-align: lef;
            font-weight: bold;
        }

        h5 {
            color: black;
            text-align: lef;
            font-weight: bold;
        }
        
        p {
            color: #343a40;
            font-size: 1.2rem;
            font-weight: bold;
            }
} 
