

body {
    background-image: url(../assets/imagenes/Fondo.jpg);
    background-position: 10%, 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $color5;

        h1 {
            color: $color1;
            text-align: center;
            font-weight: bold;
        }

        h2 {
            color: $color1;
            text-align: lef;
            font-weight: bold;
        }

        h3 {
            color: $color1;
            text-align: lef;
            font-weight: bold;
        }

        h4 {
            color: $color1;
            text-align: lef;
            font-weight: bold;
        }

        h5 {
            color: $color1;
            text-align: lef;
            font-weight: bold;
        }

        p {
            color: $color4;
            font-size: 1rem;
            font-weight: bold;
            }

        .card {
        background-color: $color2;
        }

        .noticias {
            margin-left: 180px;
        }


}
